html,body {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    /* The navigation bar */
.navbar {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ecf0f1;
  overflow-x: hidden;
  padding-top: 20px;

}

/* Links inside the navbar */
.navbar a {

  display: block;
  color: #2c3e50;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 22px;

}

.navbar :hover {
  background-color: #e74c3c;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
#particles-js{
  z-index: -1;
  padding:  0;
  margin: 0 ;
  height: 100%;
  width:  100%;
  background-color: #34495e;
  background-size: cover;
  position: fixed;
  background: #282537;
background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
}


.greeting {
 position: absolute;
 top: 35%;
 left: 50%;
 margin-right: -50%;
 transform: translate(-50%, -50%)

}

.greeting h1,h4,h3{
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;

 }


 .greeting h1{
    font-size: 600%;
    color: #e74c3c;
 }

/* Web Developer */
  .greeting h4{
    font-size: 180%;
    color: #ecf0f1;
 }
/*coming soon*/
  .greeting h3{
    font-size: 400%;
    color: #e74c3c;
 }
