body{
  background: rgb(46, 204, 113);
}
.greeting {
  margin: 0 auto;
  margin-top: 255px;
  width: 60%;

}

.greeting h1,h4,h3{
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  color: white;
 }