html,body {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
/* The navigation bar */
.navbar {
  padding-top: 15px;
  height: 45px;
  width: 100%;
  position: fixed;
  z-index: 6;
  overflow-x: hidden;
  display: inline-block;
  text-align: center;
  background-color: white;

}

/* Links inside the navbar */
.navbar a {
  font-weight:bold;
  display: inline;
  color: #2c3e50;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'Poiret One', cursive;



  font-size: 22px;
  padding-top: 30px;
}

.navbar :hover {

  background-color: #e74c3c;
  color: white;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s ;
  transition: all ease 0.8s ;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
#particles-js{
  z-index: -1;
  padding:  0;
  margin: 0 ;
  height: 100vh;
  width:  100%;

  background-color: #1371af;

}


.greeting {
  z-index: 5;
 color: #ecf0f1;
 position: absolute;
 top: 35%;
 left: 50%;
 margin-right: -50%;
 transform: translate(-50%, -50%)


}

.greeting h1,h4,h3{
  text-align: center;
  font-family: 'Nixie One', cursive;

 }

/*Name*/
 .greeting h1{
    font-size: 400%;

 }

/* Web Developer */
  .greeting h4{
    font-size: 105%;
 }
/*coming soon*/
  .greeting h3{
    font-size: 400%;
    color: #e74c3c;
 }
#page1{
  height: 100vh;
}

#name{
  color: #e74c3c;
  text-shadow: 1px 1px #;
}


.contact-button {
    font-family: 'Pathway Gothic One', sans-serif;
    position: absolute;
    margin: 10% 30%;
    border: none;
    color: #e74c3c;
    padding: 10px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: 2px solid #e74c3c;
    white-space: nowrap;
    text align: center;
}

.contact-button:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #e74c3c;
  color: white;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s ;
  transition: all ease 0.5s ;
}
 #page2{
   position: absolute;
   width: 100%;
   height: 100vh;

 }

 #skills{
   float: left;
   margin-left: 200px;
   margin-top: 100px;
   color: white;
   background-color: #2f2d40;
   box-shadow: 5px 3px 1px #95a5a6;
   border-radius: 3px;
   width: 400px;
   height: 600px

 }

#skills h1{
  text-align: center;
  padding-top:80px;
}
 #skills li{
   list-style: none;
   margin-left: 0;
   margin-bottom:10px;
 }

 #about_me {
   float: left;
   margin-left: 190px;
   margin-top: 100px;

   background-color: #2f2d40;
   box-shadow: 5px 3px 1px #95a5a6;
   border-radius: 3px;
   width: 400px;
   height: 400px
 }
